[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "external/cub"]
	path = external/cub
	url = https://github.com/NVIDIA/cub
[submodule "external/imgui_tex_inspect"]
	path = external/imgui_tex_inspect
	url = https://www.github.com/robertmotr/imgui_tex_inspect.git
[submodule "gtest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "tex_inspect_fixed"]
	path = external/imgui_tex_inspect
	url = https://github.com/robertmotr/imgui_tex_inspect
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/imgInspect"]
	path = external/imgInspect
	url = https://github.com/CedricGuillemet/imgInspect
