[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/cub"]
	path = external/cub
	url = https://github.com/NVIDIA/cub.git
[submodule "external/imgui_tex_inspect"]
	path = external/imgui_tex_inspect
	url = https://www.github.com/robertmotr/imgui_tex_inspect.git
